# ========================================
# Общее
# ========================================
.DS_Store
*.log
*.tmp
Thumbs.db

# ========================================
# IDE (PhpStorm)
# ========================================
.idea/

# ========================================
# Backend (Laravel)
# ========================================
backend/vendor/
backend/.env
backend/storage/
backend/public/storage
backend/public/hot
backend/public/build
backend/bootstrap/cache/
backend/node_modules/

# ========================================
# Frontend (React)
# ========================================
frontend/node_modules/
frontend/dist/
frontend/.env
frontend/.env.local